page-profile{
	.profile-title{
		font-size:14px;
		text-transform: uppercase;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.profile-input{
		border:1px solid #ddd;
		padding-left: 10px;
	}
	.text-bold{
		font-weight: bold;
	}
	.text-normal{
		font-weight: normal;
	}
	.my-checkbox {
   		display: flex;
    	align-items: center;
	}
	.pad-right{
		padding-right: 5px;
	}
	.select-box{
		max-width: 100%;
		border:1px solid #dedede;
	}

}